---
const { page } = Astro.props
---
<div>
  {page.url.prev && <a href={page.url.prev}>&larr; Previous</a>}
  {page.url.next && <a href={page.url.next}>Next &rarr;</a>}
  <p>Showing {page.currentPage} of {page.lastPage} pages ({page.size} posts per page, total {page.total} posts)</p>
</div>
