---
import { generateSlug } from '@utils/helpers';
import siteConfig from '@site/config.json';

import {format} from 'date-fns';

let { post, tags, url_prefix } = Astro.props;

url_prefix = url_prefix || "/posts/tags/";

// display last updated date if exists, else publish date
let postDate = ( post.data.updated ? post.data.updated : post.data.date );
let displayDate = format(new Date(postDate), 'dd MMMM yyyy, H:mm:ss');
---
<article>

  <h3><a href={post.slug}>{post.data.title}</a></h3>

  <dl>
    <dt>Description</dt>
    <dd>{post.data.description}</dd>
    <dt>Updated on</dt>
    <dd>{displayDate}</dd>
  </dl>

  <ul>
    { tags?.map((tag) => (
      <li>
        <a href={ url_prefix+generateSlug(tag) }>{ tag }</a>
      </li>
    ))}
  </ul>

</article>
