---
import siteConfig from '@site/config.json';

import {format} from 'date-fns';

let { post } = Astro.props;

// display last updated date if exists, else publish date
let postDate = ( post.frontmatter.updated ? post.frontmatter.updated : post.frontmatter.date );
let displayDate = format(new Date(postDate), 'dd MMMM yyyy, H:mm:ss');
---
<article>

  <h3><a href={post.url}>{post.frontmatter.title}</a></h3>

  <dl>
    <dt>Description</dt>
    <dd>{post.frontmatter.description}</dd>
    <dt>Updated on</dt>
    <dd>{displayDate}</dd>
  </dl>

</article>
