---
import { getSortedCollectionEntries } from '@utils/helpers';

import BaseLayout from '@layouts/BaseLayout.astro';
import PostPreview from '@components/PostPreview.astro';
import Paginator from '@components/Paginator.astro';

export async function getStaticPaths({ paginate }) {
  return paginate(await getSortedCollectionEntries('wiki'), {pageSize: 5});
}

const { page } = Astro.props;

const content = {
  title: "All Wiki Articles",
}
---

<BaseLayout content={content}>
  <div>
		<h2>{content.title}</h2>

		<ul>
      {page.data.map((post) => (
        <li>
          <PostPreview post={post} tags={post.data.tags} url_prefix="/wiki" />
        </li>
      ))}
    </ul>
    <Paginator page={page} />
  </div>
</BaseLayout>
