---
import '@styles/global.css';

import BaseLayout from '@layouts/BaseLayout.astro';

import siteConfig from '@site/config.json';

import {format} from 'date-fns';

const { content } = Astro.props;

const publishDate = format(new Date(content.frontmatter.date), 'dd MMMM yyyy, H:mm:ss');
---
<BaseLayout content={content.frontmatter}>
  <article>
    <h1>{content.frontmatter.title}</h1>
    <p>Published on {publishDate}</p>
    <img src={content.frontmatter.thumbnail} />

    <ul>
      { content.frontmatter.tags?.map((tag) => (
        <li>{ tag }</li>
      ))}
    </ul>

    <p>
      <slot />
    </p>

  </article>
</BaseLayout>
